<!-- FlatFy Theme - Andrea Galanti /-->
<!doctype html>
<!--[if lt IE 7]>
<html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>
<html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>
<html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if IE 9]>
<html class="no-js ie9" lang="en"> <![endif]-->
<!--[if gt IE 9]><!-->
<html> <!--<![endif]-->
<head>
    <meta charset="utf-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <meta name="description" content="Flatfy Free Flat and Responsive HTML5 Template ">
    <meta name="author" content="">

    <title>CS527 DBMS Project</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom Google Web Font -->
    <link href="/static/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href='http://fonts.useso.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic'
          rel='stylesheet' type='text/css'>
    <link href='http://fonts.useso.com/css?family=Arvo:400,700' rel='stylesheet' type='text/css'>

    <!-- Custom CSS-->
    <link href="/static/css/general.css" rel="stylesheet">

    <!-- Owl-Carousel -->
    <link href="/static/css/custom.css" rel="stylesheet">
    <link href="/static/css/owl.carousel.css" rel="stylesheet">
    <link href="/static/css/owl.theme.css" rel="stylesheet">
    <link href="/static/css/style.css" rel="stylesheet">
    <link href="/static/css/animate.css" rel="stylesheet">

    <!-- Magnific Popup core CSS file -->
    <link rel="stylesheet" href="/static/css/magnific-popup.css">

    <script src="/static/js/modernizr-2.6.2.min.js"></script>  <!-- Modernizr /-->
    <script src="/static/js/PIE_IE9.js"></script>
    <script src="/static/js/PIE_IE678.js"></script>

    <style type="text/css">
        <!--
        @import url("/static/css/style1.css");
        -->
    </style>
    <!--[if lt IE 9]>
    <script src="js/html5shiv.js"></script>
    <![endif]-->

    <script src="/static/js/myScript.js"></script>
</head>

<body id="home">

<!-- Preloader -->
<div id="preloader">
    <div id="status"></div>
</div>

<!-- FullScreen -->
<div class="intro-header">
    <div class="col-xs-12 text-center abcen1">
        <h1 class="h1_home wow fadeIn" data-wow-delay="0.4s">Project For CS527</h1>
        <h3 class="h2_home wow fadeIn" data-wow-delay="0.6s">Group 3</h3>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Zekun Zhang</h3>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Ziqi Wang</h3>
        <h3 class="h3_home wow fadeIn" data-wow-delay="0.6s">Mo Shi</h3>
        <a href="https://github.com/zzkzzk1996/CS527"><h3 class="h3_home wow fadeIn" style="color: white"
                                                          data-wow-delay="0.6s">For More Info
            Click Me</h3></a>

    </div>
    <!-- /.container -->
    <div class="col-xs-12 text-center abcen wow fadeIn">
        <div class="button_down ">
            <a class="imgcircle wow bounceInUp" data-wow-duration="1.5s" href="#contact"> <img class="img_scroll"
                                                                                               src="/static/img/icon/circle.png"
                                                                                               alt=""> </a>
        </div>
    </div>
</div>

<!-- Credits -->
{#<div id="credits" class="content-section-a">#}
{#    <div class="container">#}
{#        <div class="row">#}
{##}
{#            <div class="col-md-6 col-md-offset-3 text-center wrap_title">#}
{#                <h2>Choose Your Database</h2>#}
{#            </div>#}
{##}
{#            <div class="col-sm-6  block wow bounceIn">#}
{#                <div class="row">#}
{#                    <div class="col-md-4 box-icon rotate">#}
{#                        <i class="fa fa-desktop fa-4x "> </i>#}
{#                    </div>#}
{#                    <div class="col-md-8 box-ct">#}
{#                        <h3> MySQL </h3>#}
{#                        <p> You can query data from MySql database </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#            <div class="col-sm-6 block wow bounceIn">#}
{#                <div class="row">#}
{#                    <div class="col-md-4 box-icon rotate">#}
{#                        <i class="fa fa-desktop fa-4x "> </i>#}
{#                    </div>#}
{#                    <div class="col-md-8 box-ct">#}
{#                        <h3> RedShift </h3>#}
{#                        <p> You can query data from Amazon RedShift </p>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{##}
{#    </div>#}
{#</div>#}

<!-- Contact -->
<div id="contact" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Let's Query</h2>
            </div>

            <form role="form" action="" method="post" id="form1">
                <div class="col-md-6 col-md-offset-3">
                    <div class="form-group text-center">
                        <label for="InputName">Your Choice</label>
                        <div class="input-group">
                            <input type="text" class="form-control" list="InputList" name="InputName" id="InputName"
                                   placeholder="Enter Choice : 'mysql' or 'redshift'" required>
                            <datalist id="InputList">
                                <option label="Redshift" value="redshift"/>
                                <option label="MySQL" value="mysql"/>
                            </datalist>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <div class="form-group text-center">
                        <label for="InputMessage">Query Language</label>
                        <div class="input-group ">
                                <textarea name="InputMessage" id="InputMessage" class="form-control"
                                          placeholder="SELECT * FROM TABLE" rows="5" required></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                        </div>
                    </div>

                    <button type="button" name="submit" id="submit" onclick="displayData()"
                            class="btn wow tada btn-embossed btn-primary pull-right">Submit
                    </button>
                    <input type="reset" name="reset" id="reset" value="Reset"
                           class="btn wow tada btn-embossed btn-primary pull-left">
                </div>
            </form>
            <hr class="featurette-divider hidden-lg">
        </div>
    </div>
</div>

<!-- Credits -->
<div id="alexa-content" class="content-section-a">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-md-offset-3 text-center wrap_title">
                <h2>Alexa</h2>
            </div>

            <div class="col-md-6 col-md-offset-3 block wow bounceIn">
                <div class="row">
                    <div class="col-md-4 box-icon rotate" id="alexa" onclick="display3()">
                        <i class="fa fa-microphone fa-4x "> </i>
                    </div>
                    <div class="col-md-8 box-ct">
                        <h3> Show Your Result </h3>
                        <a href="https://github.com/zzkzzk1996/CS527/blob/master/process.png">Click Me To Check
                            Workflow</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="whatis" class="content-section-b" style="border-top: 0">
    <div class="container">
        <div class="col-md-6 col-md-offset-3 text-center wrap_title">
            <h2>What is?</h2>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <div class="form-group text-center">
                    <label for="time_elapsed">Time Elapsed</label>
                    <div class="input-group">
                        <textarea name="time_elapsed" id="time_elapsed" class="form-control" placeholder="Time Elapsed"
                                  rows="3" required></textarea>
                        <span class="input-group-addon"><i
                                class="glyphicon glyphicon-ok form-control-feedback"></i></span>
                    </div>
                </div>
            </div>

            <div class="col-md-6 col-md-offset-3">
                {#                <button type="button" name="finish" id="finish" onclick="Reset()"#}
                {#                        class="btn wow tada btn-embossed btn-primary center-block">Finish#}
                {#                </button>#}
            </div>
        </div><!-- /.row -->
        <div class="col-md-6 col-md-offset-3">
            <button type="button" name="submit" id="submit" onclick="displayData()"
                    class="btn wow tada btn-embossed btn-primary pull-right">Increase
            </button>
            <button type="button" name="submit" id="submit" onclick="displayData2()"
                    class="btn wow tada btn-embossed btn-primary pull-left">Decrease
            </button>

            <body onLoad="Polling()">
            </body>
            {#            <table id="rounded-corner" summary="2007 Major IT Companies' Profit">#}
            {#                <thead id="tbhead">#}
            {#                </thead>#}
            {#                <tfoot>#}
            {#                </tfoot>#}
            {#                <tbody id="tbmain">#}
            {#                </tbody>#}
            {#            </table>#}
        </div>
    </div>
</div>

<!-- JavaScript -->
<script src="/static/js/jquery-1.10.2.js"></script>
<script src="/static/js/bootstrap.js"></script>
<script src="/static/js/owl.carousel.js"></script>
<script src="/static/js/script.js"></script>
<!-- StikyMenu -->
<script src="/static/js/stickUp.min.js"></script>
<script type="text/javascript">
    jQuery(function ($) {
        $(document).ready(function () {
            $('.navbar-default').stickUp();

        });
    });

</script>
<!-- Smoothscroll -->
<script type="text/javascript" src="/static/js/jquery.corner.js"></script>
<script src="/static/js/wow.min.js"></script>
<script>
    new WOW().init();
</script>
<script src="/static/js/classie.js"></script>
<script src="/static/js/uiMorphingButton_inflow.js"></script>
<!-- Magnific Popup core JS file -->
<script src="/static/js/jquery.magnific-popup.js"></script>
</body>

</html>
